{{#*inline "page"}}
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>black</th>
      <th>white</th>
      <th>winner</th>
    </tr>
  </thead>
  <tbody>
{{#each kifu}}
    <tr>
      <td><a href="{{this.url}}">{{this.id}}</a></td>
      <td>{{this.black}}</td>
      <td>{{this.white}}</td>
      <td>{{this.winner}}</td>
    </tr>
{{/each}}
  </tbody>
</table>
<form id="shougiwars_search">
  <input id="shougiwars_usename" type="text">
  <button type="submit">search</button>
</form>
{{/inline}}

{{~> layout title="kifu" ~}}
